*~
*.out
*.inst
output/*
testinput/*
*.o
*.pyc
lexiconchecker/lexicon_checker
confusiblechecker/confusible_checker
confusiblechecker/3confusible_checker
runonchecker/runon_checker
splitchecker/split_checker
woprchecker/wopr_checker
test
confusibletrainer/*
confusibletester/*
servers/pid
