body {
    background: #a2c4c4;   
    font-family: Verdana;
    font-size: 12px; 
}
#header {
    background: url(fowlt_logo.png) no-repeat;
    width: 250px;
    height: 121px;
    margin-top: 31px;
    margin-bottom: 36px;
}
#editorarea {
    float: left;
    width: 515px;
    height: 365px;
}
label {
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    color: #a2c4c4;
}
label.top {
    display: block;
    margin-bottom: 21px;
}
#editorarea label {
    margin-left: 24px;
}
#uploadarea label {
    margin-left: 16px;
}
#uploadarea {
    float: left;
    background: url(stippellijn.png) repeat-y;
    margin-left: 10px;
    padding-left: 25px;
    height: 365px;
}
#startarea {
    clear: both;
}

#editorarea textarea {
    background: white;
    border: none;
    width: 450px;
    height: 260px;    
    padding: 23px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    resize: none;
}

#stage {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

#filenamefield {
    display: block;
    border: none;
    width: 263px;
    height: 23px;
    padding-left: 10px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    margin-bottom: 5px;
    color: #555;
}

.button {
    background: #3e4949;    
    /*height: 21px;*/
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    color: white;
    font-family: Verdana;
    font-size: 12px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.button:hover {
    background: black;
    cursor: pointer;
} 

/*#freecorrectbutton {
    font-size: 10px;
}*/


#startbutton {
    margin-left: 425px;
    margin-top: 10px;
}


#sidebar {
    position: fixed;
    background: #a2c4c4;   
    top: 16px;
    width: 220px;
    height: 500px;
    text-align: center; 
}

#mainarea {
    margin-left: 250px;
    margin-top: 32px;
    min-height: 500px;
    width: 740px;
}
#textarea {
    width: 720px;
    min-height: 480px;
    padding: 25px;
    line-height: 22px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    background: white;
    cursor: normal;
    overflow: auto;
}
#pagetext {
    width: 680px;
    min-height: 480px;
    padding: 40px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    background: white;
    cursor: normal;
    overflow: auto;
}

#sidebar #errorcount {
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    border: none;
    width: 50px;
    background: white;
    margin-left: auto;
    margin-right: auto;
    height: 20px;
    padding-top: 3px;
}
.word {
    cursor: pointer;
    margin-left: -3px;
    padding: 0px;
}

#sidebar #currenterror {
    border: none;
    width: 50px;
    height: 22px;
    background: white;
    margin: 0px;
    padding:  0px;
    text-align: center;
}
#sidebar #cursorleft {
    background: #3e4949;
    width: 25px;
    height: 25px;
    border: none;
    margin: 0px;
    padding:  0px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
}
#browsernotice {
    width: 100%;
    color: red;
    text-align: center;
    font-weight: bold;
}
#sidebar #cursorright, #show_slider {
    background: #3e4949;
    width: 25px;
    height: 25px;
    border: none;  
    margin: 0px;
    padding:  0px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-radius-topright: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}
#cursorleft:hover {
    background: black;
}
#cursorright:hover {
    background: black;
}
#sidebar label, #suggestionarea #correctall label {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #525347;
    font-weight: normal;
    font-size: 11px;
}
#sidebar .button {
    margin-top: 15px;
    margin-bottom: 15px;
}
#logo {
    background: url(fowlt_logo.png) no-repeat;
    width: 288px;
    height: 159px;
    cursor: pointer;
}


#suggestionarea {
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    background: white;
    width: 220px;
}
#suggestionarea label {
    font-size: 12px;
    font-weight: bold;
    color: #525347;
    margin-top: 3px;
}

#errortracker {
    margin-left: auto;
    margin-right: auto;   
    width: 220px;
    margin-bottom: 25px;
    color: #3e4949;
}

#pager {
    margin-left: 15px;
    letter-spacing: -3px;    
}

#suggestions {
    margin: 0px;
    padding: 0px;
    text-align: left;
    list-style-type: none;
}
#suggestions li {
    background: #DCFFE7;
    font-family: verdana;
    font-size: 12px;
    padding-left: 10px;
    cursor: pointer;
}
#suggestions li.msg {
    background: transparent;
    font-family: verdana;
    font-size: 12px;
    padding-left: 10px;
}

#suggestions li.selected {
    background: #9defb6;
    cursor: pointer;
}
#classtoggle {
    cursor: pointer;
}


#error {
    background: #ffdfdf;
    padding-left: 10px;
    color: #f74d4d;
    margin-bottom: 0px;
    font-weight: bold;
    text-align: left;
}


#errorclass {
    visibility: hidden;
    background: #ccc;
    color: white;
    margin-bottom: 4px;
    font-weight: bold;
}

#frontspace, #backspace {
    margin: 0px;
    width: 100%;
    /*background: #eee;*/
}
#frontspace {
    height: 200px;
}
#backspace {
    height: 1000px; 
}



#ruler {
    margin:0px;
    width: 980px;
    height: 2px;
    background: #b3b3ab; /*#ff8f92;*/
    margin-bottom: 10px;   
    width: 3800px;
    margin-left: -1900px;
}
/******************************/
.error {
    cursor: pointer;
    background: #ffb0b0; /*#ff8f92*/
    border:  #ffb0b0 3px solid;
}

.corrected {
    background: #9defb6;
    border: #9defb6 3px solid;
}

.cursor {
    color: white;
    border: #fd6363 3px solid;
    background: #fd6363; /*#FFB8BA;*/
}

#topbar {
    position: fixed;
    top: 0px;
    width: 1024px;
    background: #a2c4c4; 
    text-align: right;
    padding-top: 5px;
    padding-bottom: 5px;
}

#topbar ul {
    margin: 0px;
    padding: 0px;
    margin-right: 30px;
}

#topbar ul li {
    display: inline;
    list-style-type: none;
    padding-left: 40px;
    color: #3e4949;
}

#topbar a {
    color: #3e4949;
    text-decoration: none;
}

#expertswitch {
    color: #2D3A00;
    text-decoration: underline;
    cursor: pointer;
}
#expertlegenda {
    display: none;
    text-align: left;
    margin-left: 250px;
    width: 600px;
    vertical-align: middle;
}
#expertlegenda td.colcell {
    width: 25px;
    height: 25px;
}
#expertlegenda td.label {
    font-size: 9px;
}
div .square {
    width: 10px;
    height: 10px;
    border: black solid 1px;
}
#hint {
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    background: black; /*#cecfb1; */
    opacity: 0.8;
    border: black solid 1px;
    box-shadow: 10px 10px 5px #888;
    width: auto;
    height: auto;
    padding: 10px;    
    color: white;
    font-weight: bold;
}
ul#hintsuggestions {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
ul#hintsuggestions li {
    margin: 0px;
    padding: 0px;
}
#veil {
 display: none;
 position: fixed; 
 top: 0px; 
 left: 0px; 
 width: 100%; 
 height: 100%;
 background: black;
 opacity: 0.6;
 /*display:none; */
 text-align:left; 
 z-index: 100; 
}
#editdialog, #downloaddialog, #sharedialog, #errordialog, #infodialog {
    display: none;
    box-shadow: 10px 10px 5px #333;
    background: white;
    border: 10px solid #a2c4c4;
    position: fixed; 
    top: 200px;
    min-height: 70px;
    margin-left: 400px;
    margin-top: 100px;
    width: 500px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
    z-index: 101; 
    text-align: center;
    padding: 5px;
}
#sharedialog {
    width: 300px;
    margin-left: 600px;
}
#sharedialog ul {
  margin-left: 100px;
  font-size: 18px;
  color: #8e9090;
  text-align: left;
}
#sharedialog h3 {
  display:inline;
  padding: 0px 10px;
  border-bottom:dashed 1px #ccc;
}
#sharedialog ul {
  margin: 0;
  padding: 0;
  margin-top:20px;
}
#sharedialog ul li {

  padding: 5px 0 0 5px;
  margin-left: 5px;
  list-style-type: none;
}
#sharedialog ul li a {
  padding: 4px 0 0 28px;
  height: 32px;
  color: #999;
  text-decoration: none;
  line-height: 1.45em;
}

#editword {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    background: white;
    margin-bottom: 10px;    
    border: 1px dashed #444;
    padding: 3px;
}
#loaderwrapper {
    position: fixed;
    z-index: 101; 
}
#loader {
    width: 83px;
    height: 83px;
    background: url(loader.png) no-repeat;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    z-index: 102; 
}
#loadertext {
    font-size: 20px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    z-index: 102; 
}
#loaderwrapper {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 101; 
    top: 0px;
    text-align: center;
}
#uploadfield {
    display: block;
    opacity: 0; /* trick to get a hidden input field that can still be used */
}
#errormessage {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    min-height: 300px;
    background: white;
    padding: 20px;
    behaviour: url(border-radius.htc); /* hack for crappy IE */
    border-radius: 10px; 
    -moz-border-radius: 10px; /* CSS3 for Mozilla */
    -webkit-border-radius: 10px; /* CSS3 for Safari */
}
#errormessage, #errordialog {
    color: #400;
    font-weight: bold;
}
#errormessage h2, #errordialog h3 {
    color: red;
    font-weight: bold;
}

.delicious {
  background:url(delicious.png) no-repeat;
  background-position:0px -1px;
}
.facebook {
  background:url(facebook.png) no-repeat;
  background-position:0px -1px;
}
.stumbleupon {
  background:url(stumbleupon.png) no-repeat;
  background-position:0px -1px;
}
.twitter {
  background:url(twitter.png) no-repeat;
  background-position:0px -1px;
}

a {
    color: #63644d;
}
a:visited {
    color: #7b7c6c;
}
a:hover {
    color: #646636;
}
#realsubmitbutton {
    display:block;
    opacity: 0;
    width: 1px;
    height: 1px;    
}
#advancedoptions {
    display: none;
}
#advancedoptions select {
    margin-left: 25px;
}
img {
    border: none; 
}
#showadvanced, #sharethis { 
    cursor: pointer;
}
#optinarea {
    width: 400px;
    margin-left: 402px;
    margin-top: -35px;
    color: #444;
    font-size: 10px;
}
#optintext {
    cursor: pointer; 
}

#slider_area {
	color: #3E4949;
	margin:10px;
	margin-left: auto;
	margin-right: auto;
}
.ui-slider-horizontal {
	width:182px; 
	height:24px; 
	background: url(slider-bg.png); 
	border-radius: 0; border-style: none; 
	position: relative; left: 20px;
}
.ui-slider-horizontal .ui-state-default {
	background: url(handle.png) no-repeat scroll 50% 50%; 
	border-style: none; border-radius: 0;
}
.ui-slider-horizontal .ui-slider-handle {
	height: 27px;
}
.slider-side {
	background: #3E4949; 
	height:24px; 
	width:222px;
	border-radius: 10px;
}
#value {
	border: none;
	width: 50px;
	height: 24px;
	margin-left: 10px;
	padding: 0px;
	background: white;
	text-align: center;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

