<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel, Antal van den Bosch" />
        <title>VALKUIL.net Spellingcorrector :: Over VALKUIL</title>
        <link rel="StyleSheet" href="/style/valkuil.css" type="text/css" />
        <link rel="shortcut icon" href="/style/favicon.ico" />
        <script type="text/javascript" src="/style/jquery-1.5.1.min.js"></script>
        <script type="text/javascript">
            $('#logo').click(function(){window.location='/';});
        </script>        
    </head>
    <body>        
        <div id="stage">            
            <div id="topbar">
                <ul>
                    <li><a href="/">Input screen</a></li>
                    <li> <a href="http://www.facebook.com/Valkuil"><img src="/style/facebook2.jpg" alt="Valkuil.net op facebook" title="Valkuil.net op facebook!" /></a> <a href="http://www.twitter.com/valkuilnet"><img src="/style/twitter2.png" alt="Valkuil.net op twitter" title="Valkuil.net op twitter!" /></a> </li>
                </ul>
            </div>
            <div id="sidebar">
            <a href="/"><div id="logo"></div></a>
            </div>
                        
            
            <div id="mainarea">
                <div id="pagetext">
<!-- BEGIN TEXT -->

<h1>What is fowlt.net?</h1>

<p>Fowlt is the English version of the Dutch spelling checker Valkuil.net. Both Valkuil and Fowlt are unlike most well-known spell checkers: whereas these spelling checkers mostly try to find errors by comparing all words to a built-in dictionary and flag the word as an error if they can't find a match, Valkuil and Fowlt are 'context-based'. This entails that they also take into account the context, which is the words around every word. If, for a particular word, they expected another word based on the context, and they are really certain about it, it is flagged as an error. This means, for example, that Fowlt is able to replace the incorrect <i>"there"</i> in <i>"there really nice people"</i> into <i>"they're"</i> simply because <i>"there"</i> usually isn't followed by <i>"really nice people"</i>, while <i>"they're"</i> is.</p>

<p>To be able to make these kinds of correction suggestions, Fowlt makes use of language models. These models are created by giving lots of texts to the machine learning software TiMBL and WOPR. It's on the basis of these texts the model knows <i>"there"</i> mostly is not followed by <i>"really nice people"</i>. However, this also means that if the context of a particular error is very different from what the model has seen in the training data, it won't be able to correct the error. This means users should be aware of the fact that, although Fowlt can recognize more kinds of errors than regular spell checkers, it might still miss a few.</p>


<h1>How does fowlt.net work?</h1>


<p>To be written, a list and description of the modules</p>

<p><b>Wat zit er onder de motorkap</b>? Data-gedreven,
geheugengebaseerde taaltechnologie. Ondanks dat de modules zich
baseren op honderden miljoenen woorden Nederlandse tekst zijn ze
lichtgewicht en snel; ze maken gebruik
van <a href="http://ilk.uvt.nl/timbl"><b>Timbl</b></a>, een open
source softwarepakket voor geoptimaliseerde geheugengebaseerde
classificatie, dat we sinds de jaren '90 in Tilburg
ontwikkelen. Valkuil.net is in de basis een webservice
(<a href="http://ilk.uvt.nl/clam"><b>CLAM</b></a>), waarboven een
webapplicatie is ontwikkeld. Intern werkt valkuil.net met het
XML-formaat <a href="http://ilk.uvt.nl/folia"><b>FoLiA</b></a>, dat
geschikt is voor de representatie van gedetecteerde fouten,
correctiesuggesties, en gekozen correcties.</p>

<h1>For developers</h1>

<p>We also offer Fowlt as a RESTful webservice, which means developers can integrate Fowlt in their own application easily. Info about where to find this service will be added later. This service is free and without restriction (as long as our service can handle the quantities), but also without any warranties about uptime!</p>

<p>Whoever wants more control over Fowlt's webservice is free to set up one himself - Fowlt's source code, including installation instructions, can be at <a href="http://www.github.com/Woseseltops/fowlt">GitHub</a>. Developers are also free to fork this repository and extend Fowlt. If you would like our help and expertise while setting up Fowlt or integrating into you application, contact <a href="mailto:a.vandenbosch@let.ru.nl?subject=Valkuil">Antal van den Bosch</a> - we are probably interested!</p>

<h1>Frequently asked questions</h1>

<p>
<ul>
<li><b>What happens to my documents?</b> - Fowlt.net doesn't save any documents permantently. The input text is available until 24 hours after the last correction, and is deleted subsequently.</li>
<li><b>What does the button 'Found language errors can be used for scientific research' do?</b> - If you check this box, Fowlt saves all errors and its own corrections. An error is saved in context, which is the three words to its left and the three words to its right. The complete document isn't saved. We use your corrections to evaluate and improve Fowlt.net.</li>
<li><b>Can other people see my documents?</b> - No, unless you send its unique URL to others. This URL only exists for 24 hours.
</ul>
</p>

<p>
<b>Do you have another question, remark or suggestion?</b> Send a message to <a href="mailto:a.vandenbosch@let.ru.nl?subject=Valkuil">Antal
van den Bosch</a>.
</p>

<p>&nbsp;</p>

<h1>Valkuil.net was made by:</h1>

<p>
<ul>
<li><a href="http://ilk.uvt.nl/~antalb/">Antal van den Bosch</a></li>
<li><a href="http://proylt.anaproy.nl/en/home/">Maarten van Gompel</a></li>
<li><a href="http://www.monicahajek.nl/">Monica Hajek</a></li>
<li><a href="http://wesselstoop.ruhosting.nl/">Wessel Stoop</a></li>
</ul>
<p>

<p>Geholpen door? Financiering? Literatuur?</p>

<!-- END TEXT -->
                </div>     
            </div>
        </div>     
        
    </body>
</html>
