<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel" />
        <title>FOWLT.net Spelling corrector</title>
        <script type="text/javascript" src="/style/jquery-1.5.1.min.js"></script>
        <script type="text/javascript" src="/style/jQueryRotateCompressed.2.1.js"></script>
        <link rel="StyleSheet" href="/style/valkuil.css" type="text/css" />
        <script type="text/javascript" src="/style/valkuil.js"></script> 
        <link rel="shortcut icon" href="/style/favicon.ico" />
        <script type="text/javascript">
            $(document).ready( function(){
                    initloader(); 
            } );         
               
        </script>    
    </head>
    <body>        
        <div id="stage">
            <div id="header">
            </div>
            <div id="topbar">
                <ul>
                	<li> <a href="http://www.facebook.com/Valkuil"><img src="/style/facebook2.jpg" alt="Valkuil.net op facebook" title="Valkuil.net op facebook!" /></a> <a href="http://www.twitter.com/valkuilnet"><img src="/style/twitter2.png" alt="Valkuil.net op twitter" title="Valkuil.net op twitter!" /></a> </li>
                    <li><a href="/info">About FOWLT.net</a></li>       
                    <li><a id="sharethis">Share this site!</a></li>                
                </ul>
            </div>
            <div id="browsernotice"></div>
            <form id="inputform" action="/process/" method="post" enctype="multipart/form-data">
             <div id="editorarea">
                <label class="top">Type or paste your text here:</label>
                <textarea name="text" id="editor" spellcheck="false"></textarea>
             </div>
             <div id="uploadarea">                
                <label class="top">Or upload your text document here:</label>                                
                <input id="filenamefield" type="text" readonly="readonly" />
                <button class="button" onclick="$('#uploadfield').click(); return false;">select file</button>
                <input id="uploadfield" name="uploadfile" type="file" onchange="$('#filenamefield').val($('#uploadfield').val().replace('C:\\fakepath\\',''));" /> 
                
                
                <!--<div id="advancedoptions">
                    <label>Confidence when correcting errors:</label><br />
                    <select name="sensitivity">
                        <option value="0.65">Erg onzeker</option>
                        <option value="0.75">Onzeker</option>
                        <option value="0.85" selected="selected">Neutraal</option>
                        <option value="0.90">Zeker</option>
                        <option value="0.95">Erg zeker</option>
                    </select>
                </div>-->
             </div>            
             <div id="startarea">                             
                <div id="optinarea">
                    <input id="optin" type="checkbox" name="donate" value="yes" /> <span id="optintext">Errors found can be used<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;for research</span>
                </div>                                
                <button id="startbutton" class="button">Start spelling correction</button>
             </div>
            </form>
            <div id="footer">
            </div>
        </div>    
        <div id="veil"></div>
        <div id="loaderwrapper">
            <div id="loader"></div>
            <div id="loadertext">The spelling correction is running, a moment please...</div>
        </div> 
        <div id="sharedialog">
            <h3>Share this site!</h3>
              <ul>
                    <li><a class="delicious" href="http://del.icio.us/post?url=valkuil.net" title="Bookmark on del.icio.us">Delicious</a>
                    <li><a class="facebook" href="http://www.facebook.com/sharer.php?u=http://valkuil.net/"  title="Share this on Facebook" >Facebook</a></li>
                    <li><a class="stumbleupon" href="http://www.stumbleupon.com/submit? url=http://valkuil.net/" title="Stumble This Page" > Stumble</a></li>
                    <li><a class="twitter" href="http://twitter.com/home?status=Valkuil.net Spellingcorrector - http://valkuil.net/" title="Tweet This Page" >Twitter</a></li>
              </ul>
        </div>
    </body>
</html>
