<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Wessel Stoop, Maarten van Gompel, Antal van den Bosch" />
        <title>Fowlt.net spelling corrector</title>
        <link rel="shortcut icon" href="/style/favicon.ico" />
        <script type="text/javascript" src="/style/jquery-1.5.1.min.js"></script>
    </head>
    <body>        
            <div id="mainarea">
                <div id="pagetext">
<!-- BEGIN TEXT -->

<center>
<img src="/style/under_construction_diy"/><br/>
Under construction, coming soon
</center>

<!-- END TEXT -->
                </div>     
            </div>
        
    </body>
</html>
