<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl" >
    <head>
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8"/>
        <meta name="author" content="Maarten van Gompel" />
        <title>FOWLT.net Spelling corrector</title>
        <link rel="StyleSheet" href="/style/normalize.css" />
        <link rel="StyleSheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/themes/base/jquery-ui.css" type="text/css" />
        <link rel="StyleSheet" href="/style/valkuil.css" type="text/css" />
        <link rel="shortcut icon" href="/style/favicon.ico" />
        <script type="text/javascript" src="/style/jquery-1.5.1.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/style/jquery.scrollTo-min.js"></script>
        <script type="text/javascript" src="/style/jQueryRotateCompressed.2.1.js"></script>
        <script type="text/javascript" src="/style/valkuil.js"></script>
        <script type="text/javascript">
            errors = {{ errors|safe }};
            errorcount = {{ errorcount }};
            $(document).ready( function(){ 
                initerrors(); cursorto(0); initloader(); 
                $('#sharethis').click(function() {
                        $('#veil').show(); 
                        $('#sharedialog').slideDown();
                });

		initslider();
            } );                        
        </script>        
    </head>
    <body>        
        <div id="stage">
            <div id="topbar">
                <ul>
                    <li><a href="/">New input</a></li>
                    <li><span id="classtoggle">Show mistake type</span></li>
                    <li><a id="sharethis">Share this site!</a></li>
                    <li><a href="/info">About FOWLT.net</a></li>
                    <li> <a href="http://www.facebook.com/Fowlt"><img src="/style/facebook2.jpg" alt="Fowlt.net on facebook" title="Fowlt.net on facebook!" /></a> <a href="http://www.twitter.com/fowltnet"><img src="/style/twitter2.png" alt="Fowlt.net on twitter" title="Fowlt.net on twitter!" /></a> </li>
                </ul>
            </div>
            <div id="sidebar">
                <div id="logo"></div>
		<div id="errortracker">
			<span id="errnotext">Error number</span>
	                <span id="pager">
			    <button id="cursorleft"><img id="arrowimg" src="/style/pijl_terug.png" alt="previous error"/></button>
	                    <input id="currenterror" />
	                    <button id="cursorright"><img id="arrowimg" src="/style/pijl_vooruit.png" alt="next error" /></button>
                </span>
		</div>

                <div id="suggestionarea">
                    <label class="head">suggestion(s) for:</label>
                    
                    <div id="errorclass">...</div><div id="error">...</div><div id="ruler"></div>
                    
                    
                    <ul id="suggestions">
                    </ul>
                    
                    <button class="button" id="correctbutton">correct</button>                    
                    
                    <div id="correctall">
                        <label>dezelfde fout is <span id="sameerror">x</span> keer gevonden</label>
                                            
                        <button class="button" id="correctallbutton">correct all</button>
                    </div>
                    
                    <button class="button" id="ignorebutton">ignore</button>
                    
                    <button class="button" id="freecorrectbutton">correct manually</button>
                </div>
                        
                

            	<div id="slider_area">
                    <span id="errnotext">Error tolerance</span>
	            <span id="toleranceinput"><input id="value" value=10><button id="show_slider"><img src="/style/pijl_omlaag.png"/></button></span>
                    <button class="button" id="infobutton">?</button>
                    <div class="slider-side"><div id="slider"></div></div>
		</div>
                            
                <button class="button" id="downloadbutton">download document</button>
            </div>
            
            
            
            <div id="mainarea">
                <div id="textarea">
<div id="frontspace"></div>
{{ text|safe }}                
                </div>      
                <div id="backspace"></div>
                <div id="hint"><ul id="hintsuggestions"></ul></div>
            </div>
            <div id="veil"></div>
            <div id="editdialog">
                <input id="editword" name="editword" />
                <button class="button" id="dialogsubmit">Correct</button>  
            </div>
            <div id="downloaddialog">
                Which download format do you prefer?
                <ul>
                 <li><a href="text/">Download as plaintext</a></li>
                 <li><a href="xml/">Download as FoLiA XML</a></li>
                </ul>
            </div>
            <div id="loaderwrapper">
                <div id="loader"></div>
                <div id="loadertext">The spelling correction is running, a moment please...</div>
            </div> 
            <div id="sharedialog">
                <h3>Share this site!</h3>
                  <ul>
                    <li><a class="delicious" href="http://del.icio.us/post?url=valkuil.net" title="Bookmark on del.icio.us">Delicious</a>
                    <li><a class="facebook" href="http://www.facebook.com/sharer.php?u=http://valkuil.net/"  title="Share this on Facebook" >Facebook</a></li>
                    <li><a class="stumbleupon" href="http://www.stumbleupon.com/submit? url=http://valkuil.net/" title="Stumble This Page" > Stumble</a></li>
                    <li><a class="twitter" href="http://twitter.com/home?status=Valkuil.net Spellingcorrector - http://valkuil.net/" title="Tweet This Page" >Twitter</a></li>
                  </ul>
            </div>            
            <div id="errordialog">
                <h3>Whoops! An error!</h3>
                <p></p>
            </div>
            <div id="infodialog">
                <h3>Error tolerance</h3>
		<p style="text-align:left">For many errors, Fowlt is not entirely sure whether it is a real error or not. This number represents how certain Fowlt should be before it flags a word as an error. If you set this to 0 Fowlt will only show errors it is very certain about. When you set this to 100 Fowlt will flag everything that can possibly be an error.<p>
            </div>
            <div class="alot"><img src="/style/alot.png"/></div>
        </div>     
        
    </body>
</html>
